{% extends 'MabaOAuthCommerceAccountsBundle::base.html.twig' %}

{% block title %}Credentials created{% endblock %}
{% block content %}
    <div class="row-fluid">
        <pre>{% spaceless %}
            { {{ "\n" }}
                {%- for key, value in credentialsParams -%}
                    {{ '    ' }}{{ key }}: {{ value }}{% if not loop.last %},{% endif %}{{ "\n" }}
                {%- endfor -%}
            }
        {% endspaceless %}</pre>
        <a href="{{ path('maba_o_auth_commerce_accounts_clients') }}">Go back to client list</a>
    </div>
{% endblock %}